*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* ---------------------------------------------- */
/* COMMON */
.btn{
    font-size: 15px;
    padding: 10px 15px;
    cursor: pointer;
}

.btn-w{
    background-color: white;
    color: black;
    border: 1px solid black;
}
.btn-b{
    background-color: #0061ff;
    border: none;
    color: white;
}
.cnt-big{
    width: 1200px;
    margin: 0 auto;
}

.cnt-sml{
    width: 1000px;
    margin: 0 auto;
}

img{
    max-width: 100%;
    display: block;
}

.col-cnt{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}

.table{
    width: calc(100% / 3 - 50px);
}

.table .body-table div{
    font-size: 13px;
    color: gray;
    margin-bottom: 50px;
}
/* --------------------------------------------------- */

/* TYPO */
body{
    font-family: 'Open Sans', sans-serif;
}

ul{
    list-style-type: none;
}

h2{
    font-size: 45px;
    margin-bottom: 75px;
}
h3{
    font-size: 25px;
    margin-bottom: 25px;
}

h5{
    font-size: 15px;
    margin-bottom: 20px;
}
/* --------------------------------------------------------- */
/* HEADER */

header.menu{
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    box-shadow: 0px 1px 2px #dedede;
}

.menu nav li:not(#logo):hover{
    border-bottom: 2px solid black;
}

nav{
    display: flex;
    line-height: 80px;
}

header nav ul{
    display: flex;
    align-items: center;
}

header nav ul li{
    margin: 0px 20px;
    font-size: 15px;
}

header a{
    text-decoration: none;
    color: black;
}
/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* MAIN */

/* SECTION JUMBOTRON */
.jumbo{
    background-color: #b4d0e7;
    padding-top: 180px;
}

h1{
    font-size: 77px;
    font-weight: 900;
}

.jumbotron{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    top: 70px;
}

.jumbotron article{
    width: 30%;
}

.jumbotron article .btn{
    margin: 35px 0;
}

.jumbotron article i{
    font-size: 55px;
    position: absolute;
    left: 0;
    bottom: 75px;
}

.img-jumbo{
    width: 70%;
}

/* -------------------------------------- */

/* SECTION PLAN */

.plan{
    padding-top: 160px;
}
.plan .cnt-sml span{
    margin-right: 45px;
}

.plan .cnt-sml input{
    margin-bottom: 45px;
}
.tit-table{
    padding: 15px 0;
    text-align: center;
    border-bottom: 1px solid #d0d0d3;
}

.tit-table > i{
    margin-right: 5px;
}

.plan .col-cnt > .table{
    border: 1px solid #d0d0d3;
}

.body-table{
    padding: 40px 30px 50px;
}

.body-table .benefits li{
    margin-bottom: 25px;
    display: flex;
    font-size: 14px;
}

.col-cnt .benefits i{
    margin-right: 5px;
    padding-top: 3px;
}

.col-cnt .table .body-table .btn{
    margin: 35px 0;
    width: 100%;
}

.col-cnt .body-table hr{
    width: 20%;
    color: gray;
    margin: 45px 0;
}

.col-cnt .benefits i.fa-sharp.fa-solid.fa-check{
    color: #426dff;
    font-weight: bold;
}

.enterprise{
    border: 1px solid #d0d0d3;
    width: 100%;
}

.enterprise > .body-table{
    display: flex;
    justify-content: space-between;
    
}

.enterprise > .body-table > div:first-child{
    width: 75%;
}

.enterprise > .body-table > div:last-child{
    align-self: flex-start;
}

/* --------------------------------------------------- */
/* SECTION PARTNER */

.partner{
    margin-top: 150px;
}
.partner .cnt-sml{
    display: flex;
    justify-content: space-between;
}

.partner .cnt-sml .img-partner{
    width: 60%;
}
.partner .cnt-sml .description{
    width: 40%;
    padding: 50px;
}

.partner .btn.btn-w{
    margin-top: 35px;
}
/* --------------------------------------------------- */
/* SECTION BUSINESS */
.business{
    margin-top: 120px;
}

.business .col-cnt .table h3{
    margin: 30px 0;
}
/* --------------------------------------------------- */
/* SECTION NUMBER */

.number .cnt-sml{
    padding: 200px 300px 140px 0;
}
/* --------------------------------------------------- */
/* SECTION BRANDS */
.brands{
    width: 100%;
    height: calc(100vw / 3);
    display: flex;
    justify-content: space-between;
}

.brands-col{
    width: calc(100% / 3);
    display: flex;
    justify-content: space-between;
    height: 100%;
    flex-wrap: wrap;
}

.brands-col-mid{
    width: calc(100% / 3);
    height: 100%;
    background-color: #f5f5f5; 
    padding: 50px;  
    overflow: auto; 
}

.brand{
    width: 50%;
    height: 50%;
    position: relative;
}

.sq1{
    background-color: #d1e9cd;
    padding: 15px;
}

.sq1 > div{
    background-color: #a2d39b;
    width: 100%;
    height: 100%;
}
.sq2{
    background-color: #61082b;
}
.sq3{
    background-color: #0093ce;    
}
.sq4{
    background-color: #ff1c1c;
}
.sq5{
    background-color: #d5001f;
}
.sq6{
    background-color: #b4d0e7;
}
.sq7{
    background-color: #0d2481;
}
.sq8{
    background-color: #ffd830;
}
.img-brands{
    max-width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.brands-col-mid img{
    width: 50%;
}

.brands-col-mid p{
    margin: 80px 0 50px;
}
/* --------------------------------------------------- */
/* SECTION PROVA */
.prova{
    background-color: #b4d0e7;
    padding: 130px 0 55px ;
}

.prova > .cnt-sml{
    display: flex;
    justify-content: space-between;
}

.prova .cnt-sml div:first-child{
    width: 55%;
}
.prova .cnt-sml div:last-child{
    width: 45%;
    text-align: right;
    padding-top: 15px;
}

.prova .cnt-sml h2{
    color: #61082b;
}

.prova .btn.btn-w{
    border: none;
    padding: 15px 50px;
}
/* --------------------------------------------------- */
/* SECTION FAQ */
.faq{
    padding: 150px 0;
}

.faq .cnt-sml .faq-row h5{
    margin: 0;
}
.faq-cnt{
    border-top: 1px solid grey;
}
.faq-row{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    border-bottom: 1px solid grey;
}

#hidden{
    display: none;
}
p#hidden{
    padding-top: 40px;
}
.faq-row:hover #hidden{
    display: block;
}
.faq-row:hover i{
    display: none;
}

/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* FOOTER */
footer{
    background-color: black;
    padding: 100px 0 50px;
}

footer .cnt-big > div{
    display: flex;
    justify-content: space-between;
    gap: 90px;
}

footer .cnt-big > div .foot-col{
    color: white;
}

footer .cnt-big > div .foot-col li{
    margin-bottom: 15px;
}

footer .cnt-big hr{
    width: 120px;
    margin: 110px 0 50px;
}

footer .cnt-big span{
    color: #999999;
}

footer .cnt-big span i{
    margin: 0 5px;
}

footer a{
    text-decoration: none;
    color: white;
}
/* --------------------------------------------------- */
