*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* ---------------------------------------------- */
/* COMMON */
.btn{
    color: white;
    font-size: 15px;
    padding: 10px 15px;
    background-color: #0061ff;
    border: none;
}

.cnt-big{
    width: 65%;
    margin: 0 auto;
}

.cnt-sml{
    width: 52%;
    margin: 0 auto;
}

img{
    width: 100%;
    display: block;
}

.col-cnt{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}

.table{
    width: calc(100% / 3 - 50px);
}

h2{
    font-size: 45px;
    margin-bottom: 75px;
}
h3{
    font-size: 25px;
    margin-bottom: 25px;
}

h5{
    font-size: 15px;
    margin-bottom: 20px;
}

.table .body-table div{
    font-size: 13px;
    color: gray;
    margin-bottom: 50px;
}
/* --------------------------------------------------- */

/* TYPO */
body{
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style-type: none;
}
/* --------------------------------------------------------- */
/* HEADER */

header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 0 20px;
}

nav{
    display: flex;
    align-items: center;
}

header nav ul{
    display: flex;
    align-items: center;
}

header nav ul li{
    margin: 0px 20px;
    font-size: 15px;
}
/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* MAIN */

/* SECTION JUMBOTRON */
.jumbo{
    background-color: #b4d0e7;
    padding-top: 100px;
}

h1{
    font-size: 90px;
    font-weight: 900;
}

.jumbotron{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    top: 75px;
}

.jumbotron article{
    width: 30%;
}

.jumbotron article p{
    line-height: 1.5em;
    font-size: 17px;
}

.jumbotron article .btn{
    margin: 35px 0;
}

.jumbotron article i{
    font-size: 55px;
    margin-top: 60px;
}

.img-jumbo{
    width: 70%;
}

/* -------------------------------------- */

/* SECTION PLAN */

.plan{
    padding-top: 160px;
}

.plan .cnt-sml span{
    margin-right: 45px;
}

.tit-table{
    padding: 15px 0;
    text-align: center;
    border-bottom: 1px solid #d0d0d3;
}

.plan .col-cnt > .table{
    border: 1px solid #d0d0d3;
}

.body-table{
    padding: 40px 30px 50px;
}

.body-table .benefits li{
    margin-bottom: 25px;
    display: flex;
    font-size: 15px;
}

.col-cnt .benefits i{
    margin-right: 5px;
}

.col-cnt .table .body-table .btn{
    margin: 35px 0;
    width: 100%;
}

.col-cnt .body-table hr{
    width: 20%;
    color: gray;
    margin: 45px 0;
}

.col-cnt .benefits i.fa-sharp.fa-solid.fa-check{
    color: #426dff;
    font-weight: bold;
}

.enterprise{
    border: 1px solid #d0d0d3;
    width: 100%;
}

.enterprise > .body-table{
    display: flex;
    justify-content: space-between;
    
}

.enterprise > .body-table > div:first-child{
    width: 75%;
}

.enterprise > .body-table > div:last-child{
    align-self: flex-start;
}

/* --------------------------------------------------- */
/* SECTION PARTNER */

.partner{
    margin-top: 150px;
}
.partner .cnt-sml{
    display: flex;
    justify-content: space-between;
}

.partner .cnt-sml .img-partner{
    width: 60%;
}
.partner .cnt-sml .description{
    width: 40%;
    padding: 50px;
}

#btn-partner{
    background-color: white;
    color: black;
    border: 1px solid black;
    margin-top: 35px;
}

/* --------------------------------------------------- */
/* SECTION BUSINESS */
.business{
    margin-top: 120px;
}

.business .col-cnt .table h3{
    margin: 30px 0;
}